#ignore dataset
datasets
road-dataset

#ignore yolov5
yolov5

#ignore pycache
*.__pycache__

#gen_data.py
gen_data.py

#ignore runs
runs

#ignore model
*.pt
*.keras
*.h5

#ignore csv files
*.csv

#ignore json files
*.json