#ignore dataset
data/processed
data/raw
data/removed_images

#ignore _pycache
__pycache__

#ignore reference files
unet.py
check_data.py
process_existing_data.py
organize_images.py
generate_missing_masks.py
clean_data.py

#ignore yolov8 model
yolov8x-seg.pt

#sync check result
sync_check_results.txt

#ignore zip
mini-proj-10.zip